# Ignoring environment configuration file
.env

# Node modules (если вы используете Node.js)
node_modules/

# Log files
logs/
*.log

# Composer vendor folder (если используете PHP и Composer)
vendor/

# System files
.DS_Store
Thumbs.db

.well-known