# Ignoring environment configuration file
.env

# Node modules (если используете Node.js)
node_modules/

# Log files
logs/
*.log

# Composer vendor folder (если используете PHP и Composer)
vendor/
composer.lock
composer.phar

# System files
.DS_Store
Thumbs.db

# Uploads (загруженные файлы)
uploads.img/
uploads_img_menu_do_wyboru/

# .htaccess (если содержит конфиденциальные данные)
.htaccess
